<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name%></title>
  </head>
  <body>
    <h1><%=product.name%></h1>
    <ul>
      <li>category: <a href="/products?category=<%=product.category%>"><%=product.category%></a></li>
      <li>price: $<%=product.price%></li>
      <li>Farm: <a href="/farms/<%=product.farm.id%>"><%= product.farm.name%></a></li>
    </ul>
    <form action="/products/<%=product.id%>?_method=DELETE" method="post">
      <button>DELETE</button>
    </form>

    <footer>
      <a href="/products/<%=product.id%>/edit"> Edit this product </a>

      <br />
      <a href="/products">All Products</a>
    </footer>
  </body>
</html>
